location    = "eastasia"
name_prefix = "minilz1"

tags = {
  project = "azure-terraform-minilz"
  owner   = "ME"
  env     = "dev"
  costCenter = "learning"
}

allowed_ssh_cidr = "0.0.0.0/0"

enable_budget     = true
budget_amount_usd = 8
budget_start_date = "2026-02-01"
budget_email      = "xxxxxxx@gmail.com"

admin_username = "azureuser"
ssh_public_key = "ssh-rsa AAAA....REPLACE_ME"

vm_size = "Standard_B2ats_v2"
